<%- include('menu')%>
<div class="container">
    <div class="option">
        <div class="row">
            <ul >
                <li class="option-game">
                    <a href="#">Home ></a>
                </li>
                <li class="option-game">
                    <a href="#">Game News ></a>
                </li>
                <li class="option-game">
                    <p>BloodRayne & BloodRayne 2: Terminal Cut Editions Available Now On GOG And Steam</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>BloodRayne & BloodRayne 2: Terminal Cut Editions Available Now On GOG And Steam</h1>
            <p>BloodRayne: Terminal Cut Edition and BloodRayne 2: Terminal Cut Edition are remasters that are available now on GOG and Steam.</p>
            <p>Do Dang Hung Updates:</p>
            <div class="image-about">
                <img class="picture-border" src="/img/bloodrayne.jpg">
                <p class="enter-shift-line">BloodRayne has made her long-awaited return, as remastered versions of her first two games are playable on PC, with BloodRayne: Terminal Edition and BloodRayne 2: Terminal Edition available now on GOG and Steam</p>
                <p>BloodRayne was the half-vampire star of a series of action games that ran from 2002 to 2011. The series followed the titular heroine as she battled Nazis, who are trying to use supernatural allies in order to win World War II. The series heavily promoted the sexual aspects of its lead star and it quickly became known for its abundance of fanservice, especially with the noises that BloodRayne made when feeding on her enemies. The games were well-received for their action gameplay, but the low sales of BloodRayne: Betrayal ended the series. Publisher Ziggurat announced in June that it had purchased the rights to the BloodRayne franchise and that the older games would be remastered, and that new BloodRayne titles were on the way.</p>
                <p>The Terminal Editions of BloodRayne and BloodRayne 2 are available now on GOG and Steam. They are launching with a significant discount until November 27. If you own the original versions of the game on either platform, then you can download the Terminal Cuts for free</p>
                <img class="picture-border" src="/img/Bloodrayne.jpg">
                <p class="abc-xyz">The new features in the Terminal Cut editions include 4x anti-aliasing, support for 4K/3840 x 2160 visuals, improved environmental effects, support for modern controllers, upscaled cinematics, improved lighting, support for uncompressed textures, optimization for Windows 10, and support for additional languages.</p>
                <p class="abc-xyz">The Terminal Cut editions make it easier than ever to enjoy the BloodRayne games on a modern PC. The question now is what the future holds in store for the franchise? Could the long-awaited BloodRayne 3 finally become a reality? The BloodRayne franchise somehow managed to spawn three terrible movies, and a revival of the games might lead to another. Even if BloodRayne never returns, fans can at least enjoy the original titles in a remastered form.</p>
            </div>

        </div>
        <div style="padding-left: 66px" class="col-md-4">
            <p style="font-weight: 700;font-family: 'Rajdhani', sans-serif;font-size: 40px">POPULAR NOW</p>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/thewitcher.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/pokemon.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/thewitcher-2.jpeg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/valaha.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="trending">
                <p style="padding-top: 20px;font-size: 30px;font-weight: 700;font-family: 'Rajdhani', sans-serif;">TRENDING NOW</p>
            </div>
            <div class="trend-now">
                <ul class="trending-game">
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-1.jpg">
                        </a>

                    </li>
                    <div class="gift-note">
                        <a href="#"><p>10 Best Final Bosses in Nintendo History</p></a>
                    </div>
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-2.jpg">
                        </a>
                    </li>
                    <div class="gift-note">
                        <a href="#"><p>Pokémon: How To Get Giratina's Origin Forme</p></a>
                    </div>
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-3.jpg">
                        </a>
                    </li>
                    <div class="gift-note">
                        <a href="#"><p>Skyrim: 10 Unanswered Questions We Still Have About The Dark Brotherhood</p></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="footer">
        <div class="row">
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: #3b5998;font-family: 'Rajdhani', sans-serif;" class="button-click-face" type="button"><i class="fab fa-facebook-f"> Share</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: deepskyblue" class="button-click-face" type="button"><i class="fab fa-twitter"> Tweeter</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: lightslategray" class="button-click-face" type="button"><i class="fas fa-envelope"> Email</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: dimgray" class="button-click-face" type="button"><i class="fas fa-comment-dots"> Comment</i></button>
                </div>
            </div>
        </div>
        <div class="comment-adv">
            <a href="#"><img class="banner-capture" src="/img/banner.png" alt=""></a>
        </div>
        <div class="about-author">
            <div class="col-md-10">
                <h3>Member Coment:</h3>
                <img class="avatar-comment" src="/img/avatar.png">
                <p class="text-enter"><b>Jesse Cecchetto</b> (16 Articles Published)</p>
                <p class="text-enter-2">Jesse likes to think of himself as a quintessential gamer, and we let him hold onto that fantasy. He loves anime maybe a little too much and wishes he could have his very own katana collection. Besides wishing</p>
            </div>
        </div>
    </div>
</div>
<div class="read-text">
    <div class="container">
        <div class="read-about">
            <p style="font-weight: 700;font-size: 25px;font-family: 'Rajdhani', sans-serif;">Read Next</p>
        </div>
        <div class="concert">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-1.jpg">
                        <p class="show-info">Pokémon: 10 Weird Facts You Didn't Know About Peony From The Crown Tundra DLC</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-2.jpg">
                        <p class="show-info">Pokemon: 5 Legendaries That Are Overrated (& 5 That Are Severely Underrated)</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-3.jpg">
                        <p class="show-info">10 Things Only Players Who Played Spider-Man PS4 Noticed In Miles Morales</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-4.jpg">
                        <p class="show-info">Hades: The Best (& Worst) Standard Boons From Each Olympian God</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-footer">
    <div style="height: 300px" class="container-fluid">
        <div style="text-align: center;margin-top: 80px;color: white;font-size: 30px;font-family: 'Texturina', serif;font-weight: 700" class="footer-abc">
            <i class="fas fa-star-of-david">
                TheGamer
            </i>
        </div>
        <div class="button-list">
            <button type="button">Write For Us</button>
            <ul class="inline-block">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
                <li>
                    <a href="#"> Terms</a>
                </li>
                <li>
                    <a href="#"> Copyright</a>
                </li>
                <li>
                    <a href="#"> About Us</a>
                </li>
                <li>
                    <a href="#"> Press Kit</a>
                </li>
                <li>
                    <a href="#"> Fact Checking Policy</a>
                </li>

            </ul>
            <div class="button-list-2">
                <ul class="inline-block-2">
                    <li>
                        <a href="#">Corrections Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ethics Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ownership Policy</a>
                    </li>
                </ul>
            </div>
            <div class="end-footer">
                <p class="end-white">Copyright © 2020 www.thegamer.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>