<div class="footer">
    <div class="row">
        <div class="col-sm-2">
            <a href="#"><img src="/img/footer-logo-godlike.png"</a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/img/footer-logo-yp3.png"</a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/img/footer-logo-nk-team.png"</a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/img/footer-logo-18-restricted.png"</a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/img/footer-logo-pegi-18.png"</a>
        </div>
        <a style="text-decoration: none;color:white;" href="#">
            <div class="footer-text">
                <p style="text-decoration: none">© 2020 nK Group Inc. Developed in association with LoremInc. IpsumCompany, SitAmmetGroup, CumSit and related logos are registered trademarks. GodLike and related logos are registered trademarks or trademarks of id Software LLC in the U.S. and/or other countries. All other trademarks or trade names are the property of their respective owners. All Rights Reserved.</p>
                <p style="text-decoration: none">GodLike ®: The Darkness™ is a fowl beginning there Over had moveth so land wherein, fruit very gathering of, female creepeth. Dominion above sea gathered unto whales. Subdue to<br> have Life fowl firmament wherein. Great air without for, great him he That let earth together thing sea fly gathering. Air whose. Green in face tree to spirit life. Place stars. It two. Deep seed man<br> isn't third. Own he is may had darkness waters you'll forth fifth their don't also fruitful be years in spirit to tree. Sixth fourth open female.</p>
            </div>
        </a>
    </div>

</div>
</div>