<%- include('menu')%>
<style>
    .col-md-3{
        padding-top: 30px;
    }
    body{

    }
    .animation:hover{
        transform: scale(1.1);
    }
</style>
<body>
<div  class="container">
    <div style="margin-top: 50px;border-bottom: 1px solid black" class="game-highlight">
        <h2>Game HighLight </h2>
    </div>
    <div style="margin-top: 50px" class="show-highlight">
        <div class="row">
            <div class="col-md-3">
                <a style="text-decoration: none" href="http://localhost:8080/video-1">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-1.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="http://localhost:8080/video-2">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-2.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: #2b2422">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-3.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: #2b2422">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>
            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-4.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-13.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-6.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-7.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-8.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-9.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-10.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px ;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-11.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px  ;padding-top: 20px;color: #2b2422">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>
            <div class="col-md-3">
                <a style="text-decoration: none" href="#">
                    <img class="animation" style="display: block;max-width: 100%;" src="/img/know-about-12.jpg">
                    <i style="position: absolute;margin-top: -90px;margin-left: 112px;font-size: 30px;color: white " class="far fa-play-circle"></i>
                    <p style="border: 1px;padding-top: 20px;color: black">
                        Video
                        Dark Souls 3 : Highlights Part 1 Hey I hope I gave you literally minutes of enjoyment if I did be sure to leave a like and subscribe it helps me out a lot.
                    </p>

                </a>

            </div>

        </div>
    </div>
    </div>

<div class="w-footer">
    <div style="height: 300px" class="container-fluid">
        <div style="text-align: center;margin-top: 80px;color: white;font-size: 30px;font-family: 'Texturina', serif;font-weight: 700" class="footer-abc">
            <i class="fas fa-star-of-david">
                TheGamer
            </i>
        </div>
        <div class="button-list">
            <button type="button">Write For Us</button>
            <ul class="inline-block">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
                <li>
                    <a href="#"> Terms</a>
                </li>
                <li>
                    <a href="#"> Copyright</a>
                </li>
                <li>
                    <a href="#"> About Us</a>
                </li>
                <li>
                    <a href="#"> Press Kit</a>
                </li>
                <li>
                    <a href="#"> Fact Checking Policy</a>
                </li>

            </ul>
            <div class="button-list-2">
                <ul class="inline-block-2">
                    <li>
                        <a href="#">Corrections Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ethics Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ownership Policy</a>
                    </li>
                </ul>
            </div>
            <div class="end-footer">
                <p class="end-white">Copyright © 2020 www.thegamer.com</p>
            </div>
        </div>
    </div>
</div>

</body>
