<%- include('menu')%>
<div   class=" container-fluid">
    <div class="header-banner">
        <h3 class="header-text">GAME NEWS</h3>
        <p class="header-text-font">TheGamer is the web's premier destination for all game news. We cover pretty much<br> everything in gaming. Major game announcements from all the biggest studios - Nintendo,<br> Microsoft, Sony, Bethesda, EA, Ubisoft. Updates and shake-ups in the Esports world...<br></p>

            <a style="text-decoration: none" href="#"><p style="color: white" class="header-text-font">+ READ MORE </p> </a>
    </div>
    <div class="container">
    <div class="latest">
            <div class="row">
                <div class="col-md-8">
                    <p style="font-size: 30px;font-weight: 700;font-family: 'Rajdhani', sans-serif;">LATEST</p>
                    <a href="#">
                        <img style="display: block;max-width: 700px" src="/img/banner-1.jpg">
                        <p class="valorant-text">VALORANT Bug Prevents Players From Using Phoenix’s Ultimate</p>
                    </a>
                    <div class="p-text">
                        <p>Discovered by 100 Thieves player Steel, this VALORANT bug seemingly prevents players from activating Phoenix's ultimate ability.</p>
                    </div>
                    <div class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a  href="http://localhost:8080/news" title="Call Of Duty: Black Ops Cold War Nuketown Easter Egg Unveiled">
                                Call Of Duty: Black Ops Cold War Nuketown Easter Egg Unveiled
                            </a>
                        </h3>
                        <p class="bc-expert">
                            Call of Duty: Black Ops Cold War's take on the famous Nuketown comes out on November 24 but its main Easter Egg has already been revealed.
                        </p>
                    </div>
                    <div class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/buying-creal" title="Can't Buy A PS5? Try Winning One By Buying Cereal">
                                Can't Buy A PS5? Try Winning One By Buying Cereal
                            </a>
                        </h3>
                        <p class="bc-expert">
                            Sony and General Mills have teamed up for a contest where you can win a PS5 by redeeming the codes found on Big G cereal packets.
                        </p>
                    </div>
                    <div style="padding-top: 35px" class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/lol" title="League of Legends: TSM Adds PowerOfEvil To LCS Roster">
                                League of Legends: TSM Adds PowerOfEvil To LCS Roster
                            </a>
                        </h3>
                        <p class="bc-expert">
                            Team SoloMid announces its signing of PowerOfEvil, who will take over as mid laner for the 2021 LCS season.
                        </p>
                    </div>
                    <div class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/offline" title="Claim The Tainted Throne With Your New Mutation And Symbiont In Sixth Arboria Update">
                                Claim The Tainted Throne With Your New Mutation And Symbiont In Sixth Arboria Update
                            </a>
                        </h3>
                        <p class="bc-expert">
                            Video game developer Dreamplant and publisher All In Games recently announced the Tainted Throne update for their rogue-lite dark fantasy game Arboria
                        </p>
                    </div>
                    <div class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-6.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/helptina" title="Help Tina And SAM Save Neo-Berlin When Encodya Debuts January 26">
                                Help Tina And SAM Save Neo-Berlin When Encodya Debuts January 26
                            </a>
                        </h3>
                        <p class="bc-expert">
                            Encodya takes place in the dark and bleak setting of Neo-Berlin in 2062, and is based on the award-winning short film Robot Will Protect You.
                        </p>
                    </div>
                    <div class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-7.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/midway" title="Midway Games Documentary Insert Coin Debuts This November 25">
                                Midway Games Documentary Insert Coin Debuts This November 25
                            </a>
                        </h3>
                        <p class="bc-expert">
                            Insert Coin shows Midway Games’ history, starting as “a ragtag team of game developers with a simple punk-rock design mantra: “there are no rules."
                        </p>
                    </div>
                    <div class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-8.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/riotgame" title="Riot Games Releases League of Legends K/DA All Out Merch Line">
                                Riot Games Releases League of Legends K/DA All Out Merch Line
                            </a>
                        </h3>
                        <p class="bc-expert">
                            Riot has released a merch line for League of Legends music group K/DA.
                        </p>
                    </div>
                    <div class="image-list-game">
                        <a href="#">
                            <img  class="image-game-list-2" src="/img/banner-9.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/bloodrayne" title="BloodRayne & BloodRayne 2: Terminal Cut Editions Available Now On GOG And Steam">
                                BloodRayne & BloodRayne 2: Terminal Cut Editions Available Now On GOG And Steam
                            </a>
                        </h3>
                        <p class="bc-expert">
                            BloodRayne: Terminal Cut Edition and BloodRayne 2: Terminal Cut Edition are remasters that are available now on GOG and Steam.
                        </p>
                    </div>
                    <div  class="image-list-game">
                        <a href="#">
                            <img class="image-game-list-2" src="/img/banner-10.jpg" alt="">
                        </a>
                    </div>
                    <div class="bc-infor">
                        <h3 class="bc-title">
                            <a href="http://localhost:8080/xboxsale" title="Xbox Game Pass Ultimate Is Up To 40% Off In Black Friday Sales">
                                Xbox Game Pass Ultimate Is Up To 40% Off In Black Friday Sales
                            </a>
                        </h3>
                        <p class="bc-expert">
                            A three-month subscription to Xbox Game Pass Ultimate will be 40% off starting tomorrow as part of the 2020 Black Friday sales.
                        </p>
                    </div>
                </div>
                <div style="padding-left: 66px" class="col-md-4">
                    <p style="font-weight: 700;font-family: 'Rajdhani', sans-serif;font-size: 40px">POPULAR NOW</p>
                    <div class="news-agent">
                        <a href="#">
                            <img class="image-auto-fix" src="/img/thewitcher.jpg">
                            <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                            </p>
                        </a>
                    </div>
                    <div class="news-agent">
                        <a href="#">
                            <img class="image-auto-fix" src="/img/pokemon.jpg">
                            <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                            </p>
                        </a>
                    </div>
                    <div class="news-agent">
                        <a href="#">
                            <img class="image-auto-fix" src="/img/thewitcher-2.jpeg">
                            <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                            </p>
                        </a>
                    </div>
                    <div class="news-agent">
                        <a href="#">
                            <img class="image-auto-fix" src="/img/valaha.jpg">
                            <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                            </p>
                        </a>
                    </div>
                    <div class="trending">
                        <p style="padding-top: 20px;font-size: 30px;font-weight: 700;font-family: 'Rajdhani', sans-serif;">TRENDING NOW</p>
                    </div>
                    <div class="trend-now">
                        <ul class="trending-game">
                            <li>
                                <a href="#">
                                    <img class="fix" src="/img/trend-1.jpg">
                                </a>

                            </li>
                            <div class="gift-note">
                                <a href="#"><p>10 Best Final Bosses in Nintendo History</p></a>
                            </div>
                            <li>
                                <a href="#">
                                    <img class="fix" src="/img/trend-2.jpg">
                                </a>
                            </li>
                            <div class="gift-note">
                                <a href="#"><p>Pokémon: How To Get Giratina's Origin Forme</p></a>
                            </div>
                            <li>
                                <a href="#">
                                    <img class="fix" src="/img/trend-3.jpg">
                                </a>
                            </li>
                            <div class="gift-note">
                                <a href="#"><p>Skyrim: 10 Unanswered Questions We Still Have About The Dark Brotherhood</p></a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="read-text">
    <div class="container">
        <div class="read-about">
            <p style="font-weight: 700;font-size: 25px;font-family: 'Rajdhani', sans-serif;">Read Next</p>
        </div>
        <div class="concert">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-1.jpg">
                        <p class="show-info">Pokémon: 10 Weird Facts You Didn't Know About Peony From The Crown Tundra DLC</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-2.jpg">
                        <p class="show-info">Pokemon: 5 Legendaries That Are Overrated (& 5 That Are Severely Underrated)</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-3.jpg">
                        <p class="show-info">10 Things Only Players Who Played Spider-Man PS4 Noticed In Miles Morales</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-4.jpg">
                        <p class="show-info">Hades: The Best (& Worst) Standard Boons From Each Olympian God</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-footer">
    <div style="height: 300px" class="container-fluid">
        <div style="text-align: center;margin-top: 80px;color: white;font-size: 30px;font-family: 'Texturina', serif;font-weight: 700" class="footer-abc">
            <i class="fas fa-star-of-david">
                TheGamer
            </i>
        </div>
        <div class="button-list">
            <button type="button">Write For Us</button>
            <ul class="inline-block">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
                <li>
                    <a href="#"> Terms</a>
                </li>
                <li>
                    <a href="#"> Copyright</a>
                </li>
                <li>
                    <a href="#"> About Us</a>
                </li>
                <li>
                    <a href="#"> Press Kit</a>
                </li>
                <li>
                    <a href="#"> Fact Checking Policy</a>
                </li>

            </ul>
            <div class="button-list-2">
                <ul class="inline-block-2">
                    <li>
                        <a href="#">Corrections Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ethics Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ownership Policy</a>
                    </li>
                </ul>
            </div>
            <div class="end-footer">
                <p class="end-white">Copyright © 2020 www.thegamer.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>