<%- include('menu')%>
<div class="container">
    <div class="option">
    <div class="row">
        <ul >
        <li class="option-game">
            <a href="#">Home ></a>
        </li>
        <li class="option-game">
                <a href="#">list ></a>
        </li>
            <li class="option-game">
                <p>15 Things You Didn't Know About Dark Souls 3</p>
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>15 Things You Didn't Know About Dark Souls 3</h1>
            <p>Even extremely experienced Dark Souls players have to figure things out from videos and guides.</p>
            <p>Do Dang Hung Updates:</p>
            <div class="image-about">
                <img class="picture-border" src="/img/know-about.jpg">
                <p class="enter-shift-line"><i>The Dark Souls series</i> is full of mystery. Dark Souls 3 follows the same pattern as its predecessor, as FromSoftware makes no attempt to hold the player's hand or give them any information whatsoever. Besides messages on the ground that show you the basic combat guidelines, you're completely responsible for learning how the game works. Dark Souls 3 has so many secrets that players are still finding out new things, well after its launch. FromSoftware provides us an incredibly detailed, rich and mysterious world to play in. They leave it up to the player to explore and find out what the world has to offer. Only the most dedicated of players really dive deep into the story of the game, unless of course you just look up videos. I definitely recommend it since the story can be a tad complicated even if you have played through the entire series.</p>
                <p>Honestly, without research, I can't imagine how anyone would be able to find out everything in this list. Even extremely experienced Dark Souls players have to figure things out from videos and guides. The world is just too deep for one person to explore themselves. That's why the community of Dark Souls is so great. Players help each other out, for the most part, and aim to improve the overall experience of the gameplay for the community. Unless, of course, you're playing PVP, then you might run into your fair share dishonorable warriors and the occasional troll. Anyway, if you knew everything on this list, you definitely deserve a pat on the back.</p>
            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">15</h1>
                <h2 class="down-side">Mimics Are Complicated</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-2.jpg">
                <p class="enter-shift-line">Everybody knows the Dancer of The Boreal Valley boss fight, but you might not know that you can trigger this boss fight much earlier than usual if you so desire. Before fighting Vordt of the Boreal Valley, you can go up to the throne room where Emma is sitting. After receiving the Small Lothric Banner, you can just go ahead and kill her right away, which will trigger the Dancer to spawn. While it is very early in the game to fight the Dancer, it is very doable, though if you are not familiar with the Dancer's attack pattern, it probably isn't the best idea. This skip strategy is beneficial because it gives you access to larger boss souls and overall more powerful items/ gear earlier on. It's a good path to take if you're power leveling a new character or speedrunning.</p>
            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">14</h1>
                <h2 class="down-side">Early Dancer Fight/Fast Route</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-3.jpg">
                 <p class="enter-shift-line">The Stray Demon is no secret. He's fairly easy to kill and he dies in a pretty standard way. But what you might not have noticed is that he has several different death animations/ways he can die. Firstly, if you continuously strike one of his legs, it will eventually crumble, leaving him limping on the ground and making the rest of the fight much easier. Alternatively, if you're using a large, two-handed weapon and continuously strike both of his legs from behind, both of his legs will crumble, and when he's down, you can finish him off via riposte from his head. While killing him these ways doesn't provide any extra items, it's just kind of a cool strategy that you might have missed if you so easily killed him over and over like most people have.</p>
            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">13</h1>
                <h2 class="down-side">Early Dancer Fight/Fast Route</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-4.jpg">
                <p class="enter-shift-line">The Deacons of the Deep is one of Dark Souls 3's easiest bosses. Similar to the Prowling Magus and Congregation boss fight in Dark Souls 2, it's pretty much a mockery of a fight compared to other bosses. You might have initially been confused when you walked into the boss room, but thanks to the red glowing, you quickly figured it out and had no problems. But there is an interesting and less frantic way to beat the boss, making it ridiculously easy. The Deacons are affected by Alluring Skulls. Throwing a skull down in the opposite direction of your target makes it extremely easy to finish them off, without having to kill dozens of minions in the process. While it isn't really necessary, it's just a hassle-free way to finish the fight if you happen to have them in your inventory.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">12</h1>
                <h2 class="down-side">Early Dancer Fight/Fast Route</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-5.jpg">
                <p class="enter-shift-line">One of the first things you noticed when entering the Smouldering Lake, probably after you realized there was a giant ballista shooting arrows at you, was the Carthus Sandworm. You know, that giant worm that shoots lightning out of its face? You really can't miss it, seriously....it's a giant worm that shoots lightning out of its face. Anyway, if you're like me, you most likely never paid close attention to it and either always ran past it quickly or killed it. But if you take the time to look closely at it, you'll notice that the Sandworm is comprised of thousands and thousands of human-looking bodies. Clearly, the Sandworm devours its foes, but it's unclear whether the bodies are still alive or not. All you can tell from looking is that they seem like they are or were in pure agony.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">11</h1>
                <h2 class="down-side">Early Dancer Fight/Fast Route</h2>
            </div>
            <div class="mirics-are-monster">
                <p>Cure Your Hollowness With Velka</p>
                <img class="picture-border" src="/img/know-about-6.jpg">
                <p class="enter-shift-line">If you're someone like me, who takes pride in your Dark Souls character's appearance, then you'll need to know where the Statue of Velka is. Nothing sucks more than seeing your beautiful character turn into a wrinkly old ghoul. Unless you're going for some sort of undead, creepy build, then you'll want to look pretty before you summon your friends or partake in PVP. Velka, the Goddess of Sin, is a statue located at the Undead Settlement, through a locked door in the sewers beside the dilapidated bridge. After receiving the Mortician's Ashes, give them to the Handmaiden and you can purchase the grave key from her, which is needed to open the sewer door. Use her absolution services and you'll be looking as good as new!</p>
            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">10</h1>
                <h2 class="down-side">Early Dancer Fight/Fast Route</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-7.jpg">
                <p class="enter-shift-line">If you like to save all your boss souls until you have a beautiful stack to burn through, then you'll need to know this method. The Handmaiden is not only a wonderful lady...ahem...well okay she's not that wonderful, but she is pretty helpful. While she does provide us with many useful items throughout the game, she can also help us crush those boss souls much faster than we can on our own. And oh, if you kill her by accident like I've seen people do before, don't worry, she comes back, but try to avoid killing her regardless, as she never did anything to you after all. Anyway, if you talk to the handmaiden and go into your inventory to sell items, you can actually sell the entire stack of souls at once, making it much faster than doing it individually in your inventory. She gives you the same amount that you would usually get, so it's the most efficient method possible.</p>
            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">9</h1>
                <h2 class="down-side">Havel's Armor</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-8.jpg">
                <p class="enter-shift-line">Havel is one of the most annoying NPC's to fight across the entire Souls series. They call him Havel the Rock for a reason. He has incredibly high defense thanks to his armor. While it does look badass, it's obviously incredibly heavy and it's also an armor set that is beloved and heavily sought after by the Dark Souls community. It's a little harder to get in Dark Souls 3 than previous games and requires you to get to the end of the game to complete the set. Havel the Knight can be found in Archdragon Peak, shortly after the last bonfir.e Go up the ladder and he will be standing next to the corpse of a dragon. Defeating Havel will grant you his Dragon Tooth and Havel's Greatshield. After defeating Havel, go to the top of Farron Keep where the Stray Demon used to be and his set will be on the ground.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">8</h1>
                <h2 class="down-side">Ring Of Sacrifice Saves Your Souls</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-9.jpg">
                <p class="enter-shift-line">It's no secret that you can use the Ring of Sacrifice to prevent losing your souls in a rather dangerous situation. It's very handy if you're going through a boss fight or specifically treacherous scenario and want to be a little extra careful due to the scary amount of souls you're carrying. Everyone knows how the Ring of Sacrifice works in that respect, but what you might not know is that the ring can also help you retrieve souls after you've died. If you need to get back to your souls right after death and the path back is dangerous, then slap on a Ring of Sacrifice. If you die with the ring on, voila, your souls will still be there, essentially giving you an extra life. If you have multiple Rings of Sacrifice, then you don't need to worry as much.</p>

            </div>
            <div class="mirics-are-monster">
                <p>The Firekeeper Reacts To Emotes</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uIVCKjIx1o0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="enter-shift-line">The Firekeeper is basically your best friend in every Dark Souls game. She gives you the ability to spend souls and level up, and she has a very extensive amount of dialogue throughout the game. She comes off as a very wise and ancient being, but in Dark Souls 3, she can be a bit silly at times. Many people don't know that she reacts to certain emotes if you do them directly in front of her. If you use the "Toast" emote, she does a little twirl for you, while if you perform the "Legion Etiquette" emote, she dips her head somewhat sadly. Also, if you do the "Darkmoon Loyalty" emote, she will bow back to you and if you do the "Call Over" or "Jump For Joy" emote, she will chuckle a bit. She really only has a few reactions but they're pretty cool nonetheless.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">7</h1>
                <h2 class="down-side">Mound Makers</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-11.jpg">
                <p class="enter-shift-line">After defeating the Curse Rotted Greatwood boss, you probably noticed that there's a shrine you can pray to that requires Vertebra Shackles. You may have thought that you get those later in the game and can then come back and offer them, but it's not that simple. This shrine is part of a secret Covenant called the Mound Makers. You may know players from this covenant because of their purple glow when summoned. The easiest way to join this covenant is to follow this path in the Undead Settlement before killing the Curse Rotted Greatwood boss (if you've already killed the Greatwood, then you can't join the covenant until defeating Aldrich):

                    Start at the Undead Settlement bonfire and continue through the house until reaching the camp with an Evangelist near a burning pile (where you find Loretta's Bone), from here take a right and cross the wooden bridge. At the other side of the bridge there's a bunch of crates and barrels, break those and walk behind the stables instead of entering. Behind a small house with a ladder is a cage spider NPC, it will give you a hint that there's something fishy going on with a cage. Climb up the ladder of the small house, then drop off the roof on the right side. You will see a large guy with a cage on his back, approach his cage and use the action button to examine it. A cutscene will appear and you will be teleported to the area where Holy Knight Hodrick gives you the covenant.

                </p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">6</h1>
                <h2 class="down-side">Rooftop Of Firelink Shrine Without The Key</h2>
            </div>
            <div class="mirics-are-monster">
                <img class="picture-border" src="/img/know-about-12.jpg">
                <p class="enter-shift-line">Firelink Shrine is your hub in Dark Souls 3. While it is a safe place to go AFK, it's also a place that has some room for exploration. Reaching the roof of Firelink Shrine/the tower gives you the opportunity to grab some amazing items, all within the safety of your home. Though it's widely known that you can purchase the tower key for 20,000 souls, you might not know that you can get to the roof without spending any souls. Right before the tower, there is a tree leaning close to the Firelink Shrine roof. Sprinting and jumping at the right angle and moment will allow you to bypass the tower and explore the upper area of Firelink Shrine without buying the key. It's a worthwhile area to visit comprised of an Estus shard, crystal lizard, and the covetous silver serpent ring.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">5</h1>
                <h2 class="down-side">Pickle Pee Pump-A-Rum Crow</h2>
            </div>
            <div class="mirics-are-monster">

                <img class="picture-border" src="/img/know-about-13.jpg">
                <p class="enter-shift-line">"You, you! Me me Pickle Pee! Me, me Pump-a-rum!" You may find this dialogue familiar if you're a Souls veteran. The Pickle Pee, Pump-a-Rum Crow, also known as Snuggly the Crow, is back in Dark Souls 3 and he's on the rook of the Firelink Shrine, which we just told you how to get to. Just like in the previous Souls games, Snuggly will give you items in exchange for well, other items. Why a crow would need any of these items I have no idea, but regardless, Snuggly offers some pretty awesome, exclusive and worth getting items. Worthwhile items include titanite scales, titanite chunks, twinkling titanite, Armor of the Sun, Lucatiels Mask, Sunlight Sheild, as well as all of the dialogue carvings. You can receive the very good carving, thank you carving, hello carving, help me carving, and the I'm sorry carving. They are definitely worth getting and perfect for being a little cheeky in PVP.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">4</h1>
                <h2 class="down-side">Know The Glow (Items)</h2>
            </div>
            <div class="mirics-are-monster">

                <img class="picture-border" class="picture-border" src="/img/know-about.jpg">
                <p class="enter-shift-line">If you've risked your life once or twice for a shiny item that had a monster ready to smack the crap out of you or a rather risky jump that you might not make under pressure between you, then you have to know your glow. You may not have noticed if you don't look hard enough that items have different sized glows. Less important items will have a rather small, dim glow while important items such as rings or Estus shards will have a magnificently powerful, large glow. If you have to pick between two items, because grabbing both will result in you being reduced to putty, then choose right and always go for the bigger glow. It'll save your life more than once and most likely reduce your number of needless deaths for crappy items.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">3</h1>
                <h2 class="down-side">Pickle Pee Pump-A-Rum Crow</h2>
            </div>
            <div class="mirics-are-monster">

                <img class="picture-border" src="/img/know-about-13.jpg">
                <p class="enter-shift-line">"You, you! Me me Pickle Pee! Me, me Pump-a-rum!" You may find this dialogue familiar if you're a Souls veteran. The Pickle Pee, Pump-a-Rum Crow, also known as Snuggly the Crow, is back in Dark Souls 3 and he's on the rook of the Firelink Shrine, which we just told you how to get to. Just like in the previous Souls games, Snuggly will give you items in exchange for well, other items. Why a crow would need any of these items I have no idea, but regardless, Snuggly offers some pretty awesome, exclusive and worth getting items. Worthwhile items include titanite scales, titanite chunks, twinkling titanite, Armor of the Sun, Lucatiels Mask, Sunlight Sheild, as well as all of the dialogue carvings. You can receive the very good carving, thank you carving, hello carving, help me carving, and the I'm sorry carving. They are definitely worth getting and perfect for being a little cheeky in PVP.</p>

            </div><div class="picture-two-game">
                <h1 class="number-of-pic">2</h1>
                <h2 class="down-side">Pickle Pee Pump-A-Rum Crow</h2>
            </div>
            <div class="mirics-are-monster">

                <img class="picture-border" src="/img/know-about-13.jpg">
                <p class="enter-shift-line">"You, you! Me me Pickle Pee! Me, me Pump-a-rum!" You may find this dialogue familiar if you're a Souls veteran. The Pickle Pee, Pump-a-Rum Crow, also known as Snuggly the Crow, is back in Dark Souls 3 and he's on the rook of the Firelink Shrine, which we just told you how to get to. Just like in the previous Souls games, Snuggly will give you items in exchange for well, other items. Why a crow would need any of these items I have no idea, but regardless, Snuggly offers some pretty awesome, exclusive and worth getting items. Worthwhile items include titanite scales, titanite chunks, twinkling titanite, Armor of the Sun, Lucatiels Mask, Sunlight Sheild, as well as all of the dialogue carvings. You can receive the very good carving, thank you carving, hello carving, help me carving, and the I'm sorry carving. They are definitely worth getting and perfect for being a little cheeky in PVP.</p>

            </div>
            <div class="picture-two-game">
                <h1 class="number-of-pic">1</h1>
                <h2 class="down-side">Pickle Pee Pump-A-Rum Crow</h2>
            </div>
            <div class="mirics-are-monster">

                <img class="picture-border" src="/img/know-about-13.jpg">
                <p class="enter-shift-line">"You, you! Me me Pickle Pee! Me, me Pump-a-rum!" You may find this dialogue familiar if you're a Souls veteran. The Pickle Pee, Pump-a-Rum Crow, also known as Snuggly the Crow, is back in Dark Souls 3 and he's on the rook of the Firelink Shrine, which we just told you how to get to. Just like in the previous Souls games, Snuggly will give you items in exchange for well, other items. Why a crow would need any of these items I have no idea, but regardless, Snuggly offers some pretty awesome, exclusive and worth getting items. Worthwhile items include titanite scales, titanite chunks, twinkling titanite, Armor of the Sun, Lucatiels Mask, Sunlight Sheild, as well as all of the dialogue carvings. You can receive the very good carving, thank you carving, hello carving, help me carving, and the I'm sorry carving. They are definitely worth getting and perfect for being a little cheeky in PVP.</p>

            </div>
        </div>
        <div style="padding-left: 66px" class="col-md-4">
            <p style="font-weight: 700;font-family: 'Rajdhani', sans-serif;font-size: 40px">POPULAR NOW</p>
            <div class="news-agent">
                <a href="#">
                <img class="image-auto-fix" src="/img/thewitcher.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/pokemon.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/thewitcher-2.jpeg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/valaha.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="trending">
                <p style="padding-top: 20px;font-size: 30px;font-weight: 700;font-family: 'Rajdhani', sans-serif;">TRENDING NOW</p>
            </div>
            <div class="trend-now">
                <ul class="trending-game">
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-1.jpg">
                        </a>

                    </li>
                    <div class="gift-note">
                        <a href="#"><p>10 Best Final Bosses in Nintendo History</p></a>
                    </div>
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-2.jpg">
                        </a>
                    </li>
                    <div class="gift-note">
                        <a href="#"><p>Pokémon: How To Get Giratina's Origin Forme</p></a>
                    </div>
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-3.jpg">
                        </a>
                    </li>
                    <div class="gift-note">
                        <a href="#"><p>Skyrim: 10 Unanswered Questions We Still Have About The Dark Brotherhood</p></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="footer">
        <div class="row">
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: #3b5998;font-family: 'Rajdhani', sans-serif;" class="button-click-face" type="button"><i class="fab fa-facebook-f"> Share</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: deepskyblue" class="button-click-face" type="button"><i class="fab fa-twitter"> Tweeter</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: lightslategray" class="button-click-face" type="button"><i class="fas fa-envelope"> Email</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: dimgray" class="button-click-face" type="button"><i class="fas fa-comment-dots"> Comment</i></button>
                </div>
            </div>
        </div>
        <div class="comment-adv">
            <a href="#"><img class="banner-capture" src="/img/banner.png" alt=""></a>
        </div>
        <div class="about-author">
            <div class="col-md-10">
                <h3>Member Coment:</h3>
                <img class="avatar-comment" src="/img/avatar.png">
                <p class="text-enter"><b>Jesse Cecchetto</b> (16 Articles Published)</p>
                <p class="text-enter-2">Jesse likes to think of himself as a quintessential gamer, and we let him hold onto that fantasy. He loves anime maybe a little too much and wishes he could have his very own katana collection. Besides wishing</p>
            </div>
        </div>
    </div>
</div>
<div class="read-text">
    <div class="container">
        <div class="read-about">
            <p style="font-weight: 700;font-size: 25px;font-family: 'Rajdhani', sans-serif;">Read Next</p>
        </div>
        <div class="concert">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-1.jpg">
                        <p class="show-info">Pokémon: 10 Weird Facts You Didn't Know About Peony From The Crown Tundra DLC</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-2.jpg">
                        <p class="show-info">Pokemon: 5 Legendaries That Are Overrated (& 5 That Are Severely Underrated)</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-3.jpg">
                        <p class="show-info">10 Things Only Players Who Played Spider-Man PS4 Noticed In Miles Morales</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-4.jpg">
                        <p class="show-info">Hades: The Best (& Worst) Standard Boons From Each Olympian God</p>
                    </a>
                </div>
            </div>
        </div>
</div>
</div>
<div class="w-footer">
    <div style="height: 300px" class="container-fluid">
        <div style="text-align: center;margin-top: 80px;color: white;font-size: 30px;font-family: 'Texturina', serif;font-weight: 700" class="footer-abc">
            <i class="fas fa-star-of-david">
                TheGamer
            </i>
        </div>
        <div class="button-list">
            <button type="button">Write For Us</button>
            <ul class="inline-block">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
                <li>
                    <a href="#"> Terms</a>
                </li>
                <li>
                    <a href="#"> Copyright</a>
                </li>
                <li>
                    <a href="#"> About Us</a>
                </li>
                <li>
                    <a href="#"> Press Kit</a>
                </li>
                <li>
                    <a href="#"> Fact Checking Policy</a>
                </li>

            </ul>
            <div class="button-list-2">
                <ul class="inline-block-2">
                    <li>
                        <a href="#">Corrections Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ethics Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ownership Policy</a>
                    </li>
                </ul>
            </div>
            <div class="end-footer">
                <p class="end-white">Copyright © 2020 www.thegamer.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>