<%- include('menu')%>
<div class="container">
    <div class="option">
        <div class="row">
            <ul >
                <li class="option-game">
                    <a href="#">Home ></a>
                </li>
                <li class="option-game">
                    <a href="#">Game News ></a>
                </li>
                <li class="option-game">
                    <p>Riot Games Releases League of Legends K/DA All Out Merch Line</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Riot Games Releases League of Legends K/DA All Out Merch Line</h1>
            <p>Riot has released a merch line for League of Legends music group K/DA.</p>
            <p>Do Dang Hung Updates:</p>
            <div class="image-about">
                <img class="picture-border" src="/img/riotgame.jpg">
                <p class="enter-shift-line">Riot Games has released a merchandise line inspired by League of Legends music group K/DA. The apparel line is now available for purchase on the True Damage website. The collection includes T-shirts and sweatshirts, ranging up to $65.</p>
                <p>The collection drop follows the release of the group’s debut EP, All Out, which became available to stream on all major platforms on November 6th. K/DA has risen in popularity over the last few years since their debut single, POP/STARS, released ahead of the 2018 League of Legends World Championship.</p>
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">ALL OUT EP<br>K/DA MERCHANDISE RELEASE<br>SATURDAY NOVEMBER 21<br>8:00 AM (PACIFIC STANDARD TIME)<a href="https://t.co/48o52xb1tS">https://t.co/48o52xb1tS</a><br><br>SIGN UP TO GET NOTIFIED<a href="https://twitter.com/hashtag/RiotMerch?src=hash&amp;ref_src=twsrc%5Etfw">#RiotMerch</a> <a href="https://twitter.com/hashtag/KDA?src=hash&amp;ref_src=twsrc%5Etfw">#KDA</a> <a href="https://twitter.com/hashtag/TrueDamageApparel?src=hash&amp;ref_src=twsrc%5Etfw">#TrueDamageApparel</a> <a href="https://t.co/Hr8vu8nd4M">pic.twitter.com/Hr8vu8nd4M</a></p>&mdash; Riot Games Merch (@RiotGameMerch) <a href="https://twitter.com/RiotGameMerch/status/1329550744073146368?ref_src=twsrc%5Etfw">November 19, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <p class="abc-xyz">The collection is full of K/DA-themed T-shirts and hoodies, many of which feature images of the group’s members or their signatures. Personalized hoodies are available for each of the group members, each featuring one member’s signature on the front and image on the back. Ahri’s personalized sweatshirt comes in pink, Akali’s in red, Evelynn’s in purple, and Kai’Sa’s in mint green. Each hoodie is listed at $65.</p>
                <p class="abc-xyz">Personalized champion T-shirts, similar to the hoodies, are also available. Each shirt comes in the same color as its corresponding hoodie, and features the champion’s image and signature on the front. Each sells for $35.</p>
                <p class="abc-xyz">Two more sweatshirts are available, the first of which features the All Out name on the front and the EP’s tracklist on the back. The other displays the K/DA logo on the front, and has each member’s signature on the back. Both are available for $65. The final item is a long-sleeved T-shirt, which features each K/DA member’s signature on the front, available for $35.</p>
                <p class="abc-xyz">K/DA is made up of League of Legends champions Ahri, Akali, Kai’Sa, and Evelynn. Augmented reality representations of the characters have performed live at the 2018 and 2020 League of Legends World Championship opening ceremonies.</p>
                <p class="abc-xyz">All Out features five songs, with appearances from members of K-pop groups TWICE and (G)I-DLE, along with American singers Madison Beer and Bea Miller. The EP is available on all major music streaming platforms, including Spotify, YouTube, and Apple Music.</p>
                <p class="abc-xyz">Riot also recently released a VALORANT-themed merch line, which is still available on the company's online store. There is no word on how long the K/DA items will be available for purchase.</p>

            </div>

        </div>
        <div style="padding-left: 66px" class="col-md-4">
            <p style="font-weight: 700;font-family: 'Rajdhani', sans-serif;font-size: 40px">POPULAR NOW</p>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/thewitcher.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/pokemon.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/thewitcher-2.jpeg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="news-agent">
                <a href="#">
                    <img class="image-auto-fix" src="/img/valaha.jpg">
                    <p class="line-box">GamePC: The Witcher 3 tròn 5 tuổi, nhưng vẫn là game xuất sắc nhất trong cả thập kỷ qua | Tinh tế
                    </p>
                </a>
            </div>
            <div class="trending">
                <p style="padding-top: 20px;font-size: 30px;font-weight: 700;font-family: 'Rajdhani', sans-serif;">TRENDING NOW</p>
            </div>
            <div class="trend-now">
                <ul class="trending-game">
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-1.jpg">
                        </a>

                    </li>
                    <div class="gift-note">
                        <a href="#"><p>10 Best Final Bosses in Nintendo History</p></a>
                    </div>
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-2.jpg">
                        </a>
                    </li>
                    <div class="gift-note">
                        <a href="#"><p>Pokémon: How To Get Giratina's Origin Forme</p></a>
                    </div>
                    <li>
                        <a href="#">
                            <img class="fix" src="/img/trend-3.jpg">
                        </a>
                    </li>
                    <div class="gift-note">
                        <a href="#"><p>Skyrim: 10 Unanswered Questions We Still Have About The Dark Brotherhood</p></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="footer">
        <div class="row">
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: #3b5998;font-family: 'Rajdhani', sans-serif;" class="button-click-face" type="button"><i class="fab fa-facebook-f"> Share</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: deepskyblue" class="button-click-face" type="button"><i class="fab fa-twitter"> Tweeter</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: lightslategray" class="button-click-face" type="button"><i class="fas fa-envelope"> Email</i></button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="button-face">
                    <button style="background-color: dimgray" class="button-click-face" type="button"><i class="fas fa-comment-dots"> Comment</i></button>
                </div>
            </div>
        </div>
        <div class="comment-adv">
            <a href="#"><img class="banner-capture" src="/img/banner.png" alt=""></a>
        </div>
        <div class="about-author">
            <div class="col-md-10">
                <h3>Member Coment:</h3>
                <img class="avatar-comment" src="/img/avatar.png">
                <p class="text-enter"><b>Jesse Cecchetto</b> (16 Articles Published)</p>
                <p class="text-enter-2">Jesse likes to think of himself as a quintessential gamer, and we let him hold onto that fantasy. He loves anime maybe a little too much and wishes he could have his very own katana collection. Besides wishing</p>
            </div>
        </div>
    </div>
</div>
<div class="read-text">
    <div class="container">
        <div class="read-about">
            <p style="font-weight: 700;font-size: 25px;font-family: 'Rajdhani', sans-serif;">Read Next</p>
        </div>
        <div class="concert">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-1.jpg">
                        <p class="show-info">Pokémon: 10 Weird Facts You Didn't Know About Peony From The Crown Tundra DLC</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-2.jpg">
                        <p class="show-info">Pokemon: 5 Legendaries That Are Overrated (& 5 That Are Severely Underrated)</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-3.jpg">
                        <p class="show-info">10 Things Only Players Who Played Spider-Man PS4 Noticed In Miles Morales</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-4.jpg">
                        <p class="show-info">Hades: The Best (& Worst) Standard Boons From Each Olympian God</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-footer">
    <div style="height: 300px" class="container-fluid">
        <div style="text-align: center;margin-top: 80px;color: white;font-size: 30px;font-family: 'Texturina', serif;font-weight: 700" class="footer-abc">
            <i class="fas fa-star-of-david">
                TheGamer
            </i>
        </div>
        <div class="button-list">
            <button type="button">Write For Us</button>
            <ul class="inline-block">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
                <li>
                    <a href="#"> Terms</a>
                </li>
                <li>
                    <a href="#"> Copyright</a>
                </li>
                <li>
                    <a href="#"> About Us</a>
                </li>
                <li>
                    <a href="#"> Press Kit</a>
                </li>
                <li>
                    <a href="#"> Fact Checking Policy</a>
                </li>

            </ul>
            <div class="button-list-2">
                <ul class="inline-block-2">
                    <li>
                        <a href="#">Corrections Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ethics Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ownership Policy</a>
                    </li>
                </ul>
            </div>
            <div class="end-footer">
                <p class="end-white">Copyright © 2020 www.thegamer.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>