<%- include('menu-2')%>
<div class="main">
    <div class="backgroud">
        <img class="art" src="img/background.jpg">
    </div>
    <div class="text">
        <h1 style="left: 556px">WelCome Store</h1>
        <p>An atmospheric gaming HTML template based on Bootstrap 4</p>
    </div>
    <div class="click">
        <a href="#">
            <span>Purchase</span>
        </a>
    </div>
    <div class="click-2">
        <a href="#">
            <span>See Demos</span>
        </a>
    </div>
</div>

<div class="change-slide">
    <div class="side">

        <div class="txt">

        </div>
        <div class="boxes">
            <div class="first-line">
                <div id="f1">
                    <div class="inside">
                        <span></span>
                        <h3>SOLDIER-WORIOUS</h3>
                        <h4>
                            Click Here
                        </h4>
                    </div>
                </div>
            </div>
            <div class="second-line">
                <div id="f2">
                    <div class="inside">
                        <span></span>
                        <h3>SOLDIER-WORIOUS</h3>
                        <h4>
                            Watch video!
                        </h4>
                    </div>
                </div>
                <div id="f3">
                    <div class="inside">
                        <span></span>
                        <h3>SOLDIER-WORIOUS</h3>
                        <h4>
                            Watch ideas!
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slidep">
        <!-- .slider>.slide*5{$} -->


        <div class="slider" style="--total: 5">
            <div id="slide-1" class="slide" style="--i:1" tabindex="0"><img style="position: absolute" src="https://images2.alphacoders.com/698/698414.jpg">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Wb2qjfpOeMo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="button">
                    More
                </div>
            </div>
            <div id="slide-2" class="slide" style="--i:2" tabindex="0"><img src="https://images6.alphacoders.com/600/600924.jpg">
                <div class="button">
                    More
                </div>
            </div>
            <div id="slide-3" class="slide" style="--i:3" tabindex="0"><img src="https://images3.alphacoders.com/840/840498.jpg">
                <div class="button">
                    More
                </div>
            </div>
            <div id="slide-4" class="slide" style="--i:4" tabindex="0"><img src="https://images2.alphacoders.com/693/693014.jpg">
                <div class="button">
                    More
                </div>
            </div>

            <nav class="slide-nav">
                <a href="#slide-1" tabindex="-1"><i class="far fa-dot-circle"></i></a>
                <a href="#slide-2" tabindex="-1"><i class="far fa-dot-circle"></i></a>
                <a href="#slide-3" tabindex="-1"><i class="far fa-dot-circle"></i></a>
                <a href="#slide-4" tabindex="-1"><i class="far fa-dot-circle"></i></a>
            </nav>
        </div>
    </div>
</div>
<!--<div class="godlike-picture">-->
<!--    <div class="picture-container">-->
<!--        <h1 class="text-pt-1">GodLike II</h1>-->
<!--        <p class="text-pt-2">You don't get to be great without a victory...</p>-->
<!--        <img src="img/godlike-picture.png">-->
<!--    </div>-->
    <div style="max-width: 100%" class="container">
        <h1 style="padding-top: 16px;color: white" id="headline">Countdown Best Sale Days</h1>
        <div style="margin-top: 10px" id="countdown">
            <ul>
                <li style="display: inline-block;font-size: 1.5em;list-style-type: none;padding: 1em;text-transform: uppercase;color: white"><span id="days"></span>days</li>
                <li style="display: inline-block;font-size: 1.5em;list-style-type: none;padding: 1em;text-transform: uppercase;color: white"><span id="hours"></span>Hours</li>
                <li style="display: inline-block;font-size: 1.5em;list-style-type: none;padding: 1em;text-transform: uppercase;color: white"><span id="minutes"></span>Minutes</li>
                <li style="display: inline-block;font-size: 1.5em;list-style-type: none;padding: 1em;text-transform: uppercase;color: white"><span id="seconds"></span>Seconds</li>
            </ul>
        </div>

    </div>
    <div class="product-dark-soul">
        <img  src="https://images8.alphacoders.com/901/901505.jpg" alt="">
        <h1 style="left: 668px;margin-top: 50px;position: absolute;color: white">List ProDuct</h1>
        <div style="margin-right: 8px" class="row">
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-1.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-2.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"> <img class="list-product" src="img/produce-ps4-3.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-4.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-5.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-5.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-5.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-5.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-5.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
            <div class="col-sm-2">
                <a href="#"><img class="list-product" src="img/produce-ps4-5.png"></a>
                <p class="text-infomation" >Thẻ Playstation Plus Membership 12 Tháng Hệ US</p>
                <button class="buy-product" type="button">Buy</button>
            </div>
        </div>
    </div>

    <div class="about-game">
        <h1>About The Game</h1>
        <div class="number-of-mem">
            <p class="note-info">Together face In. His called Two lesser given divide. From, cattle saying be was doesn't set. Creature bearing life wherein dominion in saying<br> them moveth first have. Under set darkness over light beast face fill from in after isn't first own all fowl itself evening also, grass doesn't Sea.<br>
            <p style="color: white;text-align: center;line-height: 5px">Created very likeness herb wherein from lesser was bring brought above. Bearing tree a grass very. </p>
        </div>
        <div class="container-fluid">
            <div style="padding-left: 15px" class="row">
                <div class="col-sm-4">
                    <p class="sixteen-number">65</p>
                    <p class="sixteen-number">Unique Classes</p>
                </div>
                <div class="col-sm-4">
                    <p class="sixteen-number">145</p>
                    <p class="sixteen-number">Epic Bosses
                    </p>
                </div>
                <div class="col-sm-4">
                    <p class="sixteen-number">35</p>
                    <p class="sixteen-number">Castles
                    </p>
                </div>
                <div class="col-sm-12">
                    <h1 style="color: white;text-align: center">Subscribe to our Newsletter</h1>
                </div>
                <form class="box">
                    <div class="input-group">
                        <input style="background-color: black;border: none" type="email"  class="reqired-email form-control" placeholder="Email">
                        <button class="nk-btn nk-btn-lg link-effect-4 ready">
                    <span class="link-effect-1">
                        <span>
                            Subscribe
                        </span>
                    </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer-web">
    <div class="row">
        <div  class="col-sm-2">
            <a href="#"><img src="img/footer-logo-godlike.png"</a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="img/footer-logo-yp3.png"</a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="img/footer-logo-nk-team.png"</a>
        </div>
        <div class="col-sm-2">
            <a href="#">
                <img src="img/footer-logo-18-restricted.png">
            </a>
        </div>
        <div class="col-sm-2">
            <a href="#">
                <img src="img/footer-logo-pegi-18.png"
            </a>
        </div>
        <a style="text-decoration: none" href="#">
            <div class="footer-text">
                <p class="text-deco">© 2020 nK Group Inc. Developed in association with LoremInc. IpsumCompany, SitAmmetGroup, CumSit and related logos are registered trademarks. GodLike and related logos are registered trademarks or trademarks of id Software LLC in the U.S. and/or other countries. All other trademarks or trade names are the property of their respective owners. All Rights Reserved.</p>
                <p class="text-deco">GodLike ®: The Darkness™ is a fowl beginning there Over had moveth so land wherein, fruit very gathering of, female creepeth. Dominion above sea gathered unto whales. Subdue to<br> have Life fowl firmament wherein. Great air without for, great him he That let earth together thing sea fly gathering. Air whose. Green in face tree to spirit life. Place stars. It two. Deep seed man<br> isn't third. Own he is may had darkness waters you'll forth fifth their don't also fruitful be years in spirit to tree. Sixth fourth open female.</p>
            </div>
        </a>
    </div>

</div>
</div>
<script type="text/javascript">
    (function () {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        let birthday = "Sep 30, 2021 00:00:00",
            countDown = new Date(birthday).getTime(),
            x = setInterval(function() {

                let now = new Date().getTime(),
                    distance = countDown - now;

                document.getElementById("days").innerText = Math.floor(distance / (day)),
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                if (distance < 0) {
                    let headline = document.getElementById("headline"),
                        countdown = document.getElementById("countdown"),
                        content = document.getElementById("content");

                    headline.innerText = "It's my birthday!";
                    countdown.style.display = "none";
                    content.style.display = "block";

                    clearInterval(x);
                }
                //seconds
            }, 0)
    }());
</script>
</body>
</html>