<%- include('menu')%>
<style>
    .col-md-3{
        padding-top: 30px;
    }
    body{

    }
    .animation:hover{
        transform: scale(1.1);
    }
</style>
<body>
<div  class="container">
    <div style="margin-top: 50px;border-bottom: 1px solid black" class="game-highlight">
        <h2>Game HighLight </h2>
    </div>
</div>
<div class="row">
    <div style="margin-top: 50px" class="video-1">
        <div class="col-md-12">
            <iframe style="margin-left: 500px" width="560" height="315" src="https://www.youtube.com/embed/5oCfdZfxzTs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="text-align: end;font-size: 20px;padding-top: 20px">Chào Mừng Các Bạn Đến Với HighLight Của Game Dark Soul III</p>
        </div>

    </div>
</div>
<div class="read-text">
    <div class="container">
        <div class="read-about">
            <p style="font-weight: 700;font-size: 25px;font-family: 'Rajdhani', sans-serif;">Read Next</p>
        </div>
        <div class="concert">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-1.jpg">
                        <p class="show-info">Pokémon: 10 Weird Facts You Didn't Know About Peony From The Crown Tundra DLC</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-2.jpg">
                        <p class="show-info">Pokemon: 5 Legendaries That Are Overrated (& 5 That Are Severely Underrated)</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-3.jpg">
                        <p class="show-info">10 Things Only Players Who Played Spider-Man PS4 Noticed In Miles Morales</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="picture-display" src="/img/read-4.jpg">
                        <p class="show-info">Hades: The Best (& Worst) Standard Boons From Each Olympian God</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-footer">
    <div style="height: 300px" class="container-fluid">
        <div style="text-align: center;margin-top: 80px;color: white;font-size: 30px;font-family: 'Texturina', serif;font-weight: 700" class="footer-abc">
            <i class="fas fa-star-of-david">
                TheGamer
            </i>
        </div>
        <div class="button-list">
            <button type="button">Write For Us</button>
            <ul class="inline-block">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#"> Contact Us</a>
                </li>
                <li>
                    <a href="#"> Terms</a>
                </li>
                <li>
                    <a href="#"> Copyright</a>
                </li>
                <li>
                    <a href="#"> About Us</a>
                </li>
                <li>
                    <a href="#"> Press Kit</a>
                </li>
                <li>
                    <a href="#"> Fact Checking Policy</a>
                </li>

            </ul>
            <div class="button-list-2">
                <ul class="inline-block-2">
                    <li>
                        <a href="#">Corrections Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ethics Policy</a>
                    </li>
                    <li>
                        <a href="#"> Ownership Policy</a>
                    </li>
                </ul>
            </div>
            <div class="end-footer">
                <p class="end-white">Copyright © 2020 www.thegamer.com</p>
            </div>
        </div>
    </div>
</div>

</body>
