*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: black;
    height: 90px;
}

.logo {
    float: left;
    padding-top: 25px;
    padding-left: 159px;
}
.menu{
    padding-top: 20px;
    margin-left: 260px;
}
.menu ul{
    float: left;
}
.menu li{
    display: inline-block;
    padding-left: 100px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
.menu ul li a{
    text-decoration: none;
}
.dropbtn{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 2px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9d8f4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: black;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*.dropdown:hover .dropbtn {*/
/*    background-color: #984eca;*/
/*}*/
.text h1{
    font-size: 70px;
    color: white;
    position: absolute;
    z-index: 1;
    top: 210px;
    left: 672px;
}
.text p{
    position: absolute;
    top: 309px;
    left: 583px;
    color: white;
}
.click a:link,.click a:visited{
    width: fit-content;
    padding: 0.5em 1em;
    text-align: center;
    float: inherit;
    margin: 0em auto;
    color: white;
    background: black;
    border-radius:5px;
    text-decoration: none;
}
.click-2 a:link,.click-2 a:visited{
    width: fit-content;
    padding: 0.5em 1em;
    text-align: center;
    float: inherit;
    margin: 0em auto;
    color: white;
    background: black;
    border-radius:5px;
    text-decoration: none;
}
.banner img{
    display: block;
    max-width: 1519px;
}
.click{
    position: absolute;
    top: 365px;
    left: 656px;
    color: white;
    padding-left: 30px;
}
.click:hover{
    transform: scale(1.1);
}
.click-2{
    position: absolute;
    top: 365px;
    left: 782px;
    color: white;
    padding-left: 30px;
}
.click-2:hover{
    transform: scale(1.1);
}
.backgroud img{
    display: block;
    max-width: 100%;
}
.topic img{
    display: block;
    max-width: 485px;
}
.topic:hover img {
    transform: scale(1.1) ;
}
.topic-2 img{
    display: block;
    max-width: 485px;
}
.topic-2:hover img {
    transform: scale(1.1) ;
}
.topic img{
    position: absolute;
    top: 695px;
    left: 200px;
}
.topic-2 img{
    position: absolute;
    top: 695px;
    left: 885px;
}
.row {
    background-color: black;
    padding-left: 130px;
}
.text-info{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 35px;
    color: white!important;
}
.col-sm-6 img{
    margin-bottom: 50px;
    display: block;
    max-width: 570px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.col-sm-6:hover img{
    transform: scale(1.1);
}
.nk-btn-lg {
    padding: 14px 36px;
}
.nk-bt:hover {
    color: inherit;
    text-decoration: none;
}
.nk-btn {
    position: relative;
    /*display: inline-block;*/
    padding: 7px 30px;
    margin-left: 10px;
    font-family: "Marcellus SC",serif;
    font-size: 17px;
    font-weight: 600;
    /*line-height: 1.2;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgba(14,14,14,.9);
    border: 1px solid white;
    border-radius: 2px;
    color: white;
}
.nk-btn:hover{
    transform: scale(1.1);
}
.col-sm-12 h1{
    margin-bottom: 70px;
    margin-top: 70px;
}
form{
    margin: 0 auto;
    width:528px;
}

.col-sm-2{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 30px;

}
.footer-end{
    background-color: black;
    display: block;
    max-width: 100%;
    margin-left: -16px;
}
.footer-text p {
    padding-left: 20px;
    line-height: 30px;
    color: white;
}
.footer-text:hover p{
    text-decoration: black;
}




@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}



/*h1 {*/
/*    font-weight: bold;*/
/*    margin: 0;*/
/*}*/

/*h2 {*/
/*    text-align: center;*/
/*}*/

p {//note
font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.button-1 {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button-1:active {
    transform: scale(0.95);
}

button-1:focus {
    outline: none;
}

button.ghost {

    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

form {
    /*background-color: #FFFFFF;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.desktop-picture{
    background-color: black;
}



